* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    width: 240px;
    height: 140px;
    background-color: #833ae0;
    padding-left: 3px;
    border-radius: 10px;
}
.chip{
    width: 30px;
    height: 30px;
    margin-top: 15px;
}
#card-number{
    color: white;
    font-size: 18px;
    margin-top: auto;
    font-family: Courier;
    padding-left: 5px;
}
#card-owner{
    color: white;
    font-size: 14px;
    margin-top: 5px;
    padding-left: 5px;
}
#valid-thru{
    color: white;
    font-size: 12px;
    padding-left: 5px;
}
#vt07{
    color: white;
    font-size: 10px;
    margin-top: 20px;
    padding-left: 5px;
}